<!DOCTYPE html>
<html lang="ru">
<%- include('./partials/head.ejs')%>
<body>
<div id="app" class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Auth-test</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"
          v-for="link in navlink">
            <a class="nav-link" @click.prevent="currentTabChange(link)">{{link}}</a>
          </li>
        </ul>        
      </div>
      <button class="btn btn-primary" @click="logout">LogOut</button>
    </div>
  </nav>
  <div class="alert alert-primary" role="alert">
    Auth error: {{error}}
  </div>
  <keep-alive>
    <component :is="currentTabComponent" :user="user" @set-auth-data="setAuthData">
      
    </component>
  </keep-alive>
</div>
<script src="https://unpkg.com/vue@next"></script>   
<script src="app.js" type="module"></script>
</body>
</html>